- hosts: workers
  become: yes

  vars:
    master_private_ip: "{{ hostvars['master-1']['private_ip'] }}"
    rke2_token: "{{ lookup('file', '/tmp/rke2-node-token') }}"

  tasks:
    - name: Create config directory
      file:
        path: /etc/rancher/rke2
        state: directory

    - name: Create config file for agent
      copy:
        dest: /etc/rancher/rke2/config.yaml
        content: |
          server: https://{{ master_private_ip }}:9345
          token: {{ rke2_token }}

    - name: Install RKE2 agent
      shell: curl -sfL https://get.rke2.io | INSTALL_RKE2_TYPE=agent sh -
      args:
        creates: /usr/local/bin/rke2

    - name: Enable & start rke2-agent
      systemd:
        name: rke2-agent
        enabled: yes
        state: started
