---
- name: Nginx Reverse Proxy và Jenkins
  hosts: lab3a-ansible-jenkins
  become: yes
  tasks:
    - name: Cập nhật hệ thống
      apt:
        update_cache: yes

    - name: Cài đặt OpenJDK 21
      apt:
        name:
          - openjdk-21-jre
          - fontconfig
        state: present

    - name: Kiểm tra phiên bản Java
      command: java -version
      register: java_version
      ignore_errors: yes

    - name: In phiên bản Java ra màn hình
      debug:
        msg: "Java version: {{ java_version.stderr }}"

    - name: Cài đặt Nginx
      apt:
        name: nginx
        state: present

    - name: Khởi động và kích hoạt Nginx
      systemd:
        name: nginx
        state: started
        enabled: yes

    - name: Cấu hình reverse proxy cho Jenkins
      copy:
        dest: /etc/nginx/sites-available/jenkins
        content: |
          server {
              listen 80 default_server;
              server_name _;

              location / {
                  proxy_pass http://127.0.0.1:8080;

                  proxy_set_header Host $host;
                  proxy_set_header X-Real-IP $remote_addr;

                  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                  proxy_set_header X-Forwarded-Host $host;
                  proxy_set_header X-Forwarded-Proto http;
                  proxy_set_header X-Forwarded-Port 80;

                  proxy_redirect off;

                  proxy_http_version 1.1;
                  proxy_request_buffering off;
                  proxy_buffering off;
              }
          }


    - name: Kích hoạt cấu hình Nginx cho Jenkins
      file:
        src: /etc/nginx/sites-available/jenkins
        dest: /etc/nginx/sites-enabled/jenkins
        state: link

    - name: Kiểm tra cấu hình Nginx
      command: nginx -t

    - name: Tải lại Nginx
      systemd:
        name: nginx
        state: reloaded

    - name: Thêm kho Jenkins vào apt repository
      apt_key:
        url: https://pkg.jenkins.io/debian/jenkins.io.key
        state: present

    - name: Thêm Jenkins vào danh sách nguồn apt
      apt_repository:
        repo: deb http://pkg.jenkins.io/debian-stable binary/
        state: present

    - name: Cập nhật apt repository
      apt:
        update_cache: yes

    - name: Cài đặt Jenkins
      apt:
        name: jenkins
        state: present

    - name: Khởi động và kích hoạt Jenkins
      systemd:
        name: jenkins
        state: started
        enabled: yes

    - name: Lấy mật khẩu Jenkins ban đầu
      command: cat /var/lib/jenkins/secrets/initialAdminPassword
      register: jenkins_password

    - name: In mật khẩu Jenkins ban đầu ra màn hình
      debug:
        msg: "Mật khẩu Jenkins ban đầu: {{ jenkins_password.stdout }}"

